<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.lin.mapper.UserMapper">

  <select id="login" resultType="int">
    select userId from elevator.user where userPwd = #{user.userPwd} and userName = #{user.userName};
  </select>

  <insert id="addUser">
    insert into elevator.user(userName, userPwd, userPower)
      value(#{user.userName},#{user.userPwd},#{user.userPower});
  </insert>

  <delete id="deleteUser">
    delete from elevator.user where userId = #{userId};
  </delete>

  <insert id="editUser">
    update elevator.user set userPwd = #{user.userPwd},userName = #{user.userName},userPower = #{user.userPower}
    where userId = #{user.userId};
  </insert>

  <select id="getPower" resultType="int">
    select elevator.user.userPower from elevator.user where userName = #{userName};
  </select>

  <select id="getAllUser" resultType="org.lin.bean.User">
    select * from elevator.user;
  </select>
</mapper>